@import '../../styles/global.scss';

.inputWrap {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .statusError {
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    background-color: $red;
    border-radius: 50%;
    display: block;
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }

  .statusSuccess {
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    background-color: $green;
    border-radius: 50%;
    display: block;
    cursor: help;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }
}