$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #880E4F;
$primaryDark: #560027;
$primaryLight: #BC477B;
$red: rgb(236, 33, 33);
$green: rgb(80, 236, 33);
$disabledBackground: #CCC;
$disabledColor: #888;